/* Colores */
/* Mixings */
/* NavBar Styles */
.navbar-book {
  color: #FFFFFF;
  background-color: #2c387e; }

.navbar-book-menu {
  color: #FFFFFF; }

.navbar-book-brand {
  color: #FFFFFF; }

.navbar-book-brand:hover {
  color: #f50057; }

.navbar-book-item a {
  color: #e0e0e0; }

.navbar-book-item a:hover {
  color: #f50057; }

.navbar-book-item.active a {
  color: #FFFFFF;
  font-weight: bold; }

/* Jumbo Styles */
.jumbotron {
  color: #FFFFFF;
  background-color: #3f51b5;
  margin-top: 3rem; }

/* Footer styles */
.footer {
  color: #FFFFFF;
  background-color: #3f51b5;
  margin-top: 5rem; }

.footer-element {
  margin: 2rem 2rem 2rem 2rem; }

.footer-link {
  color: #FFFFFF; }

.footer-link:hover {
  color: #f50057; }

/* Book Card Styles */
.book-card {
  margin: 1rem 0.8rem 1rem 0rem;
  flex: 1 20rem;
  justify-content: space-between; }

.book-card-title {
  margin: 0 0 0 0; }

.book-card-body {
  margin-top: 1rem;
  height: auto; }

/* Button Styles */
.btn-book-primary, .btn-buy-book {
  color: #FFFFFF;
  background-color: #f50057; }

.btn-buy-book {
  width: 100%;
  border-radius: 0; }

.btn-book-primary:hover, .btn-buy-book:hover {
  color: #FFFFFF;
  background-color: #ab003c; }

.book-card-button {
  padding: 0; }

/* Images */
.img-banner {
  margin: 1rem 0rem 2.5rem 0rem; }

/*# sourceMappingURL=styles.css.map */
