/* Colores */
$yellow: #94fa0e;
$red: #d31900;
$green: #42a036;
$primary: #3f51b5;
$secondary: #f50057;
$secondaryHover: #ab003c;
$white: #FFFFFF;
$navBarColor: #2c387e;
$navBarLinkColor: #e0e0e0;

/* Mixings */
@mixin margins($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin textWhite() {
    color: $white;
}

/* NavBar Styles */
.navbar-book {
    @include textWhite();

    background-color: $navBarColor;
}

.navbar-book-menu {
    @include textWhite();
}

.navbar-book-brand {
    @include textWhite();
}

.navbar-book-brand:hover {
    color: $secondary;
}

.navbar-book-item a {
    color: $navBarLinkColor;
}

.navbar-book-item a:hover {
    color: $secondary;
}

.navbar-book-item.active a {
    @include textWhite();

    font-weight: bold;
}

/* Jumbo Styles */
.jumbotron {
    @include textWhite();

    background-color: $primary;
    margin-top: 3rem;
}

/* Footer styles */

.footer {
    @include textWhite();

    background-color: $primary;
    margin-top: 5rem;
}

.footer-element {
    @include margins(2rem, 2rem, 2rem, 2rem);
}

.footer-link {
    @include textWhite();
}

.footer-link:hover {
    color: $secondary;
}


/* Book Card Styles */
.book-card {
    @include margins(1rem, 0.8rem, 1rem, 0rem);

    flex: 1 20rem;
    justify-content: space-between;
}

.book-card-title {
    @include margins(0, 0, 0, 0);
}

.book-card-body {
    margin-top: 1rem;
    height: auto;
}

/* Button Styles */

.btn-book-primary {
    @include textWhite();
    
    background-color: $secondary;
}

.btn-buy-book {
    @extend .btn-book-primary;

    width: 100%;
    border-radius: 0;
}

.btn-book-primary:hover {
    @include textWhite();
    background-color: $secondaryHover;
}

.btn-buy-book:hover {
    @extend .btn-book-primary:hover;
}

.book-card-button {
    padding: 0;
}

/* Images */
.img-banner {
    @include margins(1rem, 0rem, 2.5rem, 0rem);
}